.Update-Wrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    min-height: 1200px;
    background-color: rgb(242, 255, 208);
  }
  
  
.update-note-container {
    width: 100%;
    max-width: 600px;
    margin: 60px auto 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.updatenotebtn {
  display:flex;
  justify-content: space-around;
}

.updateSubmit{
  width:30%
}
.updateCancel{
  width:30%
}
