.create-note-container {
    width: 100%;
    max-width: 600px;
    margin: 60px auto 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .Create-wrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    min-height: 1200px;
    background-color: rgb(242, 255, 208);
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 95%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
  }
  
  .form-group input:focus,
  .form-group select:focus,
  .form-group textarea:focus {
    border-color: #007BFF;
    outline: none;
  }
  

  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  
 
  button {
    width: 100%;
    padding: 12px;
    background-color:  #FFC7C2;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color:  #FFC7C2;
  }
  
  button:focus {
    outline: none;
  }
  

  @media (max-width: 600px) {
    .create-note-container {
      padding: 15px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    .form-group input,
    .form-group select,
    .form-group textarea {
      font-size: 0.9rem;
      padding: 8px;
    }
  
    button {
      font-size: 1rem;
      padding: 10px;
    }
  }