.shiny-metal-bg {
    width: 300px; /* Width of the box */
    height: 200px; /* Height of the box */
    background: linear-gradient(180deg, #ccc, #eee); /* Base color gradient */
    border: 4px solid #666; /* Darker border for depth */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 
        0 4px 10px rgba(0, 0, 0, 0.3), /* Shadow for depth */
        inset 0 -2px 5px rgba(255, 255, 255, 0.5); /* Inner highlight for shine */
    position: relative; /* For absolute positioning of pseudo-elements */
    overflow: hidden; /* Hide overflow to maintain shape */
    /* max-width: 100%; */
    padding: 15px;
}

.titleText {
    display: flex;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 0px !important;
    margin: 0px;
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-size: 35px !important;
    font-style: normal;
    line-height: 15px;
}

.subhead {
    align-self: top;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    gap:25px;
}

.closeBtn {
    display: flex;
    justify-content: center;
    border: 2px outset grey;
    border-radius: 5px;
    background-color: #a8a8a8;
    color: #1d1d1d;
    font-family: roboto;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    margin-top: 15px;
    padding: 10px;
    box-shadow: #666;
}

.closeBtn:hover {
    
    background-color: #ecffc8;
    color: #312705;

}