@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  /* Arsenal SC: CSS classes */
  
  .arsenal-sc-regular {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .arsenal-sc-bold {
    font-family: "Arsenal SC", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .arsenal-sc-regular-italic {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .arsenal-sc-bold-italic {
    font-family: "Arsenal SC", serif;
    font-weight: 700;
    font-style: italic;
  }

  
  h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  h2{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  h3{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  h4{
    font-family: "Ubuntu", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  p{
    font-family: "Arsenal", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  a{
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(43, 43, 43);
    padding: 5px;
  }

  a:hover{
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(43, 43, 43);
    background-color: rgb(160, 141, 119);
    border-radius: 5px;
    padding: 5px;
    color: rgb(255, 247, 238);
  }

  button{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    color: rgb(49, 37, 5);
    background-color: burlywood;
    font-weight: bold;
    border-radius: 5px;
    border-width: 2px;
    border-color: blanchedalmond;
    padding: 5px;
  }

  button:hover{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    color: rgb(49, 37, 5);
    background-color: rgb(255, 242, 223);
    font-weight: bold;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(235, 207, 164);
    padding: 5px;
  }